* {
    border: 0;
    margin: 0;
    padding: 0;
}


nav {
    height: 50px;
}

.inner {
    max-width: 100%;
    margin: 0 auto;
    width: 1460px;
}

nav > .flex {
    align-items: center;
    height: 50px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex li {
    font-size: 20px;
    margin-left: 30px;
    list-style: none;
}

.logo a {
    margin: 10px 10px auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.image {
    padding: 0px 6px 0px 5px;
    margin: 30px 5px auto;
}

li a {
    color: white;
    text-decoration: none;
}

ul.flex li:hover ul {
    display: block;
}

.btn {
    margin: 10px 10px auto;
    background-color: transparent;
    border: 2px solid #66CC33;
    color: #66CC33 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 10px;
}

.btn:hover {
    background-color: #66CC33;
    border: 2px solid #66CC33;
    color: #fff !important;
}

/* ▼メインメニュー項目の装飾 */
ul.ddmenu li {
    display: inline-block;
    list-style-type: none;
    position: relative;
}

ul.ddmenu a {
    color: black;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
}


/* ▼サブメニューがある場合に開く処理 */
ul.ddmenu li:hover ul {
    display: block;
}

/* ▼サブメニューの装飾 */
ul.ddmenu ul {
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
}

/* ▼サブメニュー項目の装飾 */
ul.ddmenu ul li {
    width: 135px;
}

ul.ddmenu ul li a {
    line-height: 35px;
    text-align: left;
    padding-left: 5px;
    font-weight: normal;
}

ul.ddmenu ul li a:hover {
    background-color: #66CC33;
}

ul.ddmenu {
    display: flex;

:first-child {
    margin-right: auto;
}

}


/*　ページ本文 */
.container {
    margin: 80px auto;
    height: 515px;
    border-radius: 5px;
    border: 1px solid black;
    width: 850px;
    padding-top: 35px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    overflow: hidden
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", sans-serif;

    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

div {
    display: block;
}

.display-horizontal {
    padding-top: 5px;
    margin-bottom: 5px;
    text-align: right;
}

.label {
    display: inline;
    margin-left: 5px;
    padding: 2px 6px 5px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.col-sm-10 {
    width: 79%;
}

.display-product {
    width: 20%;
    font-size: 25px;
}

.col-sm-10,
.display-product {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.display-price {
    display: block;
    margin-bottom: 20px;
    height: 34px;
    padding: 8px 12px;
    font-size: 20px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;


}

.col-sm-offset-2 col-sm-10 {
    margin: auto;
}

h1 {
    text-align: center;
}

.btn-center {
    text-align: center;
}

.kartbtn {
    background-color: #66CC33;
    width: 150px;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
    margin: 10px;

}
