nav {
    height: 50px;
}

.inner {
    max-width: 100%;
    margin: 0 auto;
    width: 1460px;
}

nav > .flex {
    align-items: center;
    height: 50px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex li {
    font-size: 20px;
    margin-left: 30px;
    list-style: none;
}

.logo a {
    margin: 10px 10px auto;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.image {
    padding: 0px 6px 0px 5px;
    margin: 30px 5px auto;
}

li a {
    color: white;
    text-decoration: none;
}

ul.flex li:hover ul {
    display: block;
}

.btn {
    margin: 10px 10px auto;
    background-color: transparent;
    border: 2px solid #66CC33;
    color: #66CC33 !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 10px;
}

.btn:hover {
    background-color: #66CC33;
    border: 2px solid #66CC33;
    color: #fff !important;
}

/* ▼メインメニュー項目の装飾 */
ul.ddmenu li {
    display: inline-block;
    list-style-type: none;
    position: relative;
}

ul.ddmenu a {
    color: black;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
}


/* ▼サブメニューがある場合に開く処理 */
ul.ddmenu li:hover ul {
    display: block;
}

/* ▼サブメニューの装飾 */
ul.ddmenu ul {
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
}

/* ▼サブメニュー項目の装飾 */
ul.ddmenu ul li {
    width: 135px;
}

ul.ddmenu ul li a {
    line-height: 35px;
    text-align: left;
    padding-left: 5px;
    font-weight: normal;
}

ul.ddmenu ul li a:hover {
    background-color: #66CC33;
}

ul.ddmenu {
    display: flex;
}


/*ページ本文*/
.container1 {
    margin: 60px auto;
    border-radius: 5px;
    border: 1px solid black;
    width: 600px;
    height: 400px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-family: "Helvetica Neue", sans-serif;
    color: #333;
    background-color: #fff;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
}

/*住所表示*/
.display-horizontal {
    padding-top: 5px;
    margin-bottom: 5px;
    text-align: right;
}

.col-sm-10 {
    width: 72%;
}

.display-product {
    width: 20%;
    font-size: 20px;
}
.col-sm-10,
.display-product {
    float: left;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.display-price {
    display: block;
    margin-bottom: 17px;
    height: 34px;
    padding: 8px 12px;
    font-size: 25px;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
}

/*クレカ入力*/
.container2 {
    margin: 60px auto;
    border-radius: 5px;
    border: 1px solid black;
    width: 600px;
    height: auto;
    overflow: hidden;
}

ul li {
    list-style: none;
}

label {
    font-size: 15px;
    margin-right: 10px;
    width: 100px;
    float: left;
}

.ul-center {
    width: 500px;
    margin: 0 auto;
}

.cardnumber {
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 34px;
    padding: 8px 12px;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-image: none;
    border-radius: 2px;
}


/*合計金額表示*/
.money {
    margin: 0 auto;
    font-size: 25px;
    width: 400px;
    margin-top: 20px;
    border: 0.5px solid black;
    text-align: center;
}

/*購入ボタン*/
.btn-center {
    text-align: center;
}

.purchasebtn {
    background-color: #66CC33;
    width: 150px;
    font-size: 30px;
    border-radius: 10px 10px 10px 10px;
    margin: 15px;
}
