<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/mypage.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>mypage</title>
</head>
<body>
<header>
    <nav>
        <div class="inner flex">
            <div class="logo">
                <a href="/miricari/productlist"><img src="/images/logo.png" alt="ミリカリロゴ" align="middle"
                                                     class="image"></a>
            </div>
            <ul class="flex">
                <ul class="ddmenu">
                    <li><a href="#" class="btn">アカウント</a>
                        <ul>
                            <li><a href="/miricari/login">ログイン</a></li>
                            <li><a href="/miricari/mypage">マイページ</a></li>
                            <li><a href="/miricari/exhibit">商品出品</a></li>
                            <li><a href="/miricari/logout">ログアウト</a></li>
                        </ul>
                    </li>
                    <li><a href="/miricari/cart" class="btn">カート</a></li>
                </ul>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <h1>出品済み商品</h1>
    <table>
        <tr>
            <td rowSpan=2><a href="#"><img src="images/test.jpg" alt="商品" class="productimage"></a></td><!-- 画像表示 -->
            <td class="frame">【大特価】上田電動ガン M4A1　新品未使用　美品</td><!-- 商品名表示 -->
        </tr>
        <tr>
            <td class="explanation">39,800円</td><!-- 値段表示 -->
        </tr>
    </table>
</div>

<div class="container">
    <h1>購入済み商品</h1>
    <table>
        <tr>
            <td rowSpan=2><a href="#"><img src="/images/test.jpg" alt="商品" class="productimage"></a></td><!-- 画像表示 -->
            <td class="frame">【大特価】上田電動ガン M4A1　新品未使用　美品</td><!-- 商品名表示 -->
        </tr>
        <tr>
            <td class="explanation">39,800円</td><!-- 値段表示 -->
        </tr>
    </table>
</div>
</body>
</html>
