<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="/css/purchasecomplete.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>purchasecomplete</title>
</head>

<body>
<header>
    <nav>
        <div class="inner flex">
            <div class="logo">
                <a href="/miricari/productlist"><img src="/images/logo.png" alt="ミリカリロゴ" align="middle"
                                                     class="image"></a>
            </div>
            <ul class="flex">
                <ul class="ddmenu">
                    <li><a href="/miricari/accountinfo" class="btn">アカウント</a>
                        <ul>
                            <li><a href="/miricari/login">ログイン</a></li>
                            <li><a href="/miricari/mypage"></a></li>
                            <li><a href="/miricari/exhibit">商品出品</a></li>
                            <li><a href="/miricari/logout">ログアウト</a></li>
                        </ul>
                    </li>
                    <li><a href="/miricari/cart" class="btn">カート</a></li>
                </ul>
            </ul>
        </div>
    </nav>
</header>

<div class="container">
    <div class="display-horizontal">
        <p class="display-product">商品名</p>
        <div class="col-sm-10">
            <p class="display-price">BT21 CHIMMY COIN PURSE コインケースキーホルダー【公式】</p> <!-- 商品名表示 -->
        </div>

        <p class="display-product">値段</p>
        <div class="col-sm-10">
            <p class="display-price">1.4800円</p> <!-- 値段表示 -->
        </div>

        <p class="display-product">合計金額</p>
        <div class="col-sm-10">
            <p class="display-price">4.4440円</p> <!-- 合計額表示 -->
        </div>

        <h1>購入が完了しました。</h1>
    </div>
</div>
<div class="btn-center"><a href="/miricari/productlist"><input type="button" value="一覧へ" class="homebtn" name="button"></a>
</div>
</body>

</html>
